/*body {
  background-color: cornflowerblue;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}*/

.navbar-header {
  padding: 0 10px;
}

.chart {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 10px;
  overflow: visible;
}

#portChart, #conChart, #modChart, #aggChart {
  overflow: visible;
}

.side {
  max-width: 500px;
  max-height: 500px;
}

.progress, .progress-bar {
  background-image: none;
  max-height: 10px;
  border-radius: 5px;
  box-shadow: none;
}

.data, .indPort-data, .con-data, .mod-data, .agg-data {
  max-width: 500px;
  margin: 0 auto;
}

.data:hover {
  cursor: pointer;
}

#modal-fundname {
  margin-bottom: 20px;
}

.modal-header {
  padding: 5px 15px;
}

.inv-container:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s;
}

.inv-container, .ind-port-container {
  transform: scale(1, 1);
  transition: 0.5s;
}
