body {
  background: linear-gradient(0deg, RGBA(55, 128, 141, 1.00), RGBA(98, 181, 146, 1.00), RGBA(72, 161, 150, 1.00));
  font-family: 'Raleway', sans-serif;
}

h2, h3 {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}

h4 {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

.acct-header {
  padding-top: 10px;
}

.acct-header > h4 {
  font-family: 'Oxygen', sans-serif;
}

.fill{
min-height: 100vh;
}

/*navbar styling*/
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  margin-bottom: 0px;
}

.navbar-default .navbar-collapse {
  border-bottom: 1px solid #e7e7e7;
}

/*hamburger menu lines to white*/
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-toggle {
  border: none;
}

/*remove hamburger menu background color on focus, hover, active*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
  background-color: transparent !important;
}

/*preserve white color text on menu items*/
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: #087F8C;
  color: #FFF;
}

/*top navbar left-right padding*/
.navbar-header {
  padding: 0 10px;
}

/*chart sizing*/
.chart {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 10px;
}

/*investment progress bar styling*/
.progress {
  background-color: #FFF;
  border: solid .5px white;
}

.progress, .progress-bar {
  background-image: none;
  max-height: 10px;
  border-radius: 5px;
  box-shadow: none;
}

/*/investment detail section styling*/
.data, .indPort-data {
  max-width: 500px;
  margin: 0 auto;
}

.data:hover {
  cursor: pointer;
}

.inv-container:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s;
}

.inv-container, .ind-port-container {
  transform: scale(1, 1);
  transition: 0.5s;
  color: #FFF;
}

/*investment modal styling*/
#modal-fundname {
  margin-bottom: 20px;
}

.modal-header {
  padding: 5px 15px;
}

/*login page styling*/
.logo {
  width: 100px;
  height: 100px;
  margin: 50px 0px;
  border-radius: 25px
}

.login {
  margin-top: 50px;
  margin-bottom: 25px;
}

.logInBtn {
  background-color: #ffffff;
  color: #095256;
  border-radius: 25px;
  border: none;
  width: 100px;
}

.logInBtn:focus {
  color: #095256;
}

.logInBtn:active {
  background: transparent;
  color: #FFF;
  border: solid 2px white;
}

input {
  border-radius: 25px;
  border-color: white;
  border-style: solid;
  background-color: inherit;
  padding: .5em;
  padding-left: .75em;
}

input::placeholder{
  color: #CCC;
}

input:focus{
  outline: none;
  color: white;
}

/*background gradient for the modals*/
.modal-content {
  background: linear-gradient(0deg,  RGBA(55, 128, 141, 1.00), RGBA(98, 181, 146, 1.00));
  color: #FFF;
}

/*style links within investment modal*/
#modal-fundname a, #modal-info a {
  color: #FFF;
}

/*portfolio page header*/
.header-text {
  color: #FFF;
}

.port-header {
  margin-bottom: 20px;
}

/*portfolio page button styling*/
.btn-container {
  margin-top: 40px;
}

.btn-port {
  min-width: 170px;
  max-width: 100%;
  border-radius: 25px;
  border: solid 2px white;
  background: transparent;
  margin-bottom: 20px;
  color: #FFF;
  padding: 10px 12px;
}

.btn-port:hover, .btn-port:focus {
  color: #FFF;
  border-color: #FFF;
  outline: none;
}

.btn-port:active {
  box-shadow: none;
  background: #FFF;
  color: #095256;
}

/*portfolio modal button*/
.btn-modal {
  width: 100%;
  max-width: 500px;
}

/*investment modal button*/
.btn-inv {
  min-width: 100px;
  margin-bottom: 0px;
}

/*bootstrap btn class styling*/
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.btn {
  white-space:normal;
  word-wrap: break-word;
}
